@model IEnumerable<ChatApp.Models.Entities.Message>
@{
    /**/

    ViewBag.Title = "Szczegóły";
    var username = ViewBag.UserName;
}
@Styles.Render("~/Css/ChatDetails.css");
<h2>Szczegóły</h2>


<div class="container">
    <fieldset>
        <legend>Test</legend>
        <div class="control-group">
            <label class="control-label">Data od</label>
            <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                <input size="16" id="date-from" type="text" value="" readonly>
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <input type="hidden" id="dtp_input1" value="" /><br />
        </div>


        <div class="control-group">
            <label class="control-label">Data do</label>
            <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input2">
                <input size="16" id="date-to" type="text" value="" readonly>
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <input type="hidden" id="dtp_input1" value="" /><br />
        </div>


        <div class="control-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Szukaj" id="search" class="btn btn-default" />
            </div>
        </div>

    </fieldset>

</div>


<div id="div-history-details">
    @Html.Partial("_HistoryDetailsPartial", Model);


</div>

<script>
    var saveUserName = '@username';
    $(document).ready(function () {
        $('.form_datetime').datetimepicker({
            format: 'dd/mm/yyyy HH:mm:ss',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            clearBtn: true
        });

        $("#search").click(function () {
                           $.ajax({
                   type: "POST",
                   url: '@Url.Action("RenderDetails","History")',
                               data: JSON.stringify({
                       UserName: saveUserName,
                       DateFrom: $("#date-from").val(),
                       DateTo: $("#date-to").val(),
                   }),
                   contentType: "application/json",
                   success: function (response) {
                       $("#div-history-details").html(response);
                   },
                   failure: function (response) {
                       alert(response.responseText);
                   },
                   error: function (response) {
                       alert(response.responseText);
                   }
               });
        });
    });


</script>