@model IEnumerable<string>

@{
    ViewBag.Title = "Index";
}



<table class="table">
    <tr>
        <th>
            Użytkownik
        </th>
        <th>
            Szczegóły
        </th>
        <th>
            Usuń
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
            @Html.ActionLink("Pokaż", "Details", new { userName = item })
        </td>
        <td>
            @Html.ActionLink("Usuń", "Delete", new { userName = item })
        </td>
    </tr>
    }

</table>